<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StorefrontUnitOfWork" connectionString="metadata=res://*/Model.StorefrontDataModel.csdl|res://*/Model.StorefrontDataModel.ssdl|res://*/Model.StorefrontDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHULUMEY\SQLSERVER;initial catalog=StorefrontShop;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>